.footer
	background-color: $c-1
	width: 100%
	height: auto
	position: relative
	a
		outline: none
.footer_content
	max-width: 1190px
	width: 100%
	height: auto
	padding: 0 20px
	box-sizing: border-box
	margin: 0 auto
	color: $blanco
	font-family: $t-0

.footer_block1
	display: flex
	flex-wrap: nowrap
	flex-direction: row
	align-item: center
	justify-content: space-between
	font-size: 16px
	padding: 65px 0 42px 0
	box-sizing: border-box
	border-bottom: 1px solid $blanco
	
.footer_b1_logo
	width: 188px
	height: auto
	display: flex
	flex-wrap: nowrap
	flex-direction: row
	align-item: center
	justify-content: center
	figure
		font-size: 20px

.footer_b1_datos
	width: calc(100% - 188px)
	height: auto
	display: flex
	flex-wrap: nowrap
	flex-direction: row
	align-item: center
	justify-content: space-between

.footer_b1_datos_box1
	display: flex
	flex-wrap: nowrap
	flex-direction: row
	align-item: center
	justify-content: center
	max-width: 417px
	p
		margin: 0

.footer_b1_datos_box2
	padding-right: 30px
	padding-left: 30px
	box-sizing: border-box
	a
		color: $blanco

.footer_b1_datos_box3
	min-width: 190px
	p
		margin: 0
		text-align: right
		strong
			display: block
			font-family: $t-1
			font-size: 24px
			font-weight: normal
			text-align: right

.footer_block2
	display: flex
	flex-wrap: nowrap
	flex-direction: row
	align-item: center
	justify-content: space-between
	font-size: 14px
	padding: 28px 0
	box-sizing: border-box

.footer_b2_box2
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: space-between
	align-items: flex-start
	a
		margin: 0
		color: $blanco
.footer__icon__heart
	color: #F27490
	font-size: 11px
	margin: 0 5px
	animation: animate-heart 2s infinite
	display: block

@keyframes animate-heart
	0%
		transform: scale(1)
	5%
		transform: scale(1.2)
	10%
		transform: scale(1.1)
	15%
		transform: scale(1.3)
	50%
		transform: scale(1)
	100%
		transform: scale(1)

.footer_whatsapp
	position: fixed
	z-index: 80
	right: 80px
	bottom: 70px
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: space-between
	align-items: center
	&.active
		.footer_whatsapp_group
			opacity: 1
			visibility: visible
			transform: translateX(0)
			transition: all .25s linear

.footer_whatsapp_position
	position: absolute
	top: -80px
	bottom: auto

.footer_whatsapp_box
	width: 250px
	height: 178px
	overflow: hidden
	position: absolute
	top: 50%
	right: 60px
	transform: translateY(-50%)

.footer_whatsapp_group
	opacity: 0
	visibility: hidden
	transform: translateX(100%)
	position: relative

.footer_whatsapp_close
	width: 30px
	height: 30px
	line-height: 30px
	color: $c-0
	font-size: 14px
	text-align: center
	cursor: pointer
	position: absolute
	top: 39px
	right: 39px
	z-index: 2

.footer_whatsapp_wrap
	display: block
	width: 250px
	box-sizing: border-box
	padding: 25px 25px 25px 10px

.footer_whatsapp_txt
	background-color: $blanco
	padding: 13px
	box-sizing: border-box
	max-width: 215px
	box-shadow: 9px 7px 25px 0px rgba(0, 0, 0, 0.1)
	position: relative
	&:after
		content: ""
		width: 0
		height: 0
		border-left: 15px solid $blanco
		border-top: 15px solid transparent
		border-bottom: 15px solid transparent
		position: absolute
		top: 0
		right: -12px
		bottom: 0
		margin: auto

.footer_whatsapp_txt_content
	display: flex
	flex-direction: column
	justify-content: center
	height: 102px
	border: 1px solid $c-2
	padding: 0px 24px
	box-sizing: border-box
	font-family: $t-2
	color: $c-1
	font-size: 12px
	text-align: center
	p
		margin: 0
		strong
			display: block
			font-family: $t-1
			font-size: 20px

.footer_whatsapp_icon
	background-color: $c-1
	height: 64px
	width: 64px
	cursor: pointer
	border-radius: 50px
	position: relative
	box-shadow: 6px 3px 10px 0px rgba(0,0,0,.2)
	margin-left: 5px
	&:before
		content: "\e925"
		width: 100%
		height: 100%
		line-height: 64px
		color: $blanco
		font-family: $icomoon
		font-size: 30px
		text-align: center
		position: absolute
		top: 0
		left: 0

.footer_whatsapp_icon_responsive
	display: none
	margin: 0

@media screen and (max-width: 1024px)
	.footer_b1_datos_box1
		max-width: auto
	.footer_b1_logo
		display: none
	.footer_b1_datos
		width: 100%
	.footer_block1
		padding: 40px 0
	.footer_whatsapp
		right: 30px
		bottom: 30px
	.footer_whatsapp_box, .footer_whatsapp_icon_desktop
		display: none
	.footer_whatsapp_icon_responsive
		display: block
	.footer_whatsapp_icon
		width: 55px
		height: 55px
		&:before
			line-height: 55px
			font-size: 26px

@media screen and (max-width: 767px)
	.footer_whatsapp_position
		top: -65px
		bottom: auto

	.footer_b1_datos
		flex-direction: column
	.footer_b1_datos_box1
		max-width: 75%
		text-align: center
		margin: 0 auto
	.footer_b1_datos_box2
		text-align: center
		margin-top: 30px
	.footer_b1_datos_box3
		width: 100%
		margin-top: 30px
		p
			text-align: center
			strong
				text-align: center

@media screen and (max-width: 669px)
	.footer_block2
		flex-direction: column
	.footer_b2_box1
		text-align: center
	.footer_b2_box2
		padding-top: 10px
		box-sizing: border-box
		margin: 0 auto

@media screen and (max-width: 498px)
	.footer_whatsapp
		right: 20px