// +++ boddyclass usado en error y enviado +++
.header_hidden
	.header, .menu-mobile-open
		display: none
// <<< end >>>

// +++ header +++
.header.scroll
	.header_main
		background: $blanco
		box-shadow: 0 3px 15px 0 rgba(0,0,0,.1)
	.header_logo
		bottom: 50%
		transform: translateY(50%)
	.header_menu
		a
			color: $c-0
			&.active
				color: $c-2

.header_main
	width: 100%
	background: transparent
	box-shadow: 0 3px 15px 0 rgba(0,0,0,0)
	transition: all .25s ease
	position: fixed
	top: 0
	left: 0
	z-index: 100

.header_content
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
	max-width: 960px
	width: 100%
	height: 80px
	position: relative
	margin: auto

.header_logo
	display: block
	width: 139px
	transition: all .25s ease
	position: absolute
	right: 0
	bottom: 0
	left: 0
	margin: auto

.header_logo_img
	width: 100%
	img
		display: block
		width: 100%
		height: auto

.header_menu
	width: calc(50% - 69.5px)
	box-sizing: border-box
	padding-right: 58px
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-end
	&:last-child
		padding-left: 58px
		padding-right: 0
		ul
			justify-content: flex-start

.header_menu
	li
		margin: 0 50px 0 0
		&:last-child
			margin-right: 0
	a
		display: inline-block
		letter-spacing: 0.33px
		color: $blanco
		font-family: $t-0
		font-size: 13px
		transition: all .25s ease
		&.active
			color: $c-2
		@media screen and (min-width: 1025px)
			&:hover
				color: $c-2

// menu responsive
.menu-sidebar
	position: fixed
	top: 0
	right: 0
	width: 250px
	height: 100%
	overflow-y: auto
	background: $blanco
	z-index: 1500
	right: -250px
	transition: all .3s ease-in-out
	box-sizing: border-box
	padding: 20px 0 20px 0

.menu-sidebar.active
	right: 0

.header-menu-overlay
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: $negro
	opacity: 0
	visibility: hidden
	z-index: -1
	transition: all .3s ease-in-out

.header-menu-overlay.active
	opacity: .6
	visibility: visible
	z-index: 1400

.menu-sidebar
	.menu-responsive
		display: block
		a
			display: block
			height: 40px
			line-height: 40px
			letter-spacing: 0.33px
			color: $c-0
			font-family: $t-0
			font-size: 15px
			padding: 0 15px
			&.active
				background: $c-2
				color: $blanco

.responsive_logo
	display: block
	width: 139px
	margin: 0 auto 20px auto

.menu-mobile-close, .menu-mobile-open
	background: transparent
	border-radius: 7%
	color: $blanco
	cursor: pointer
	font-size: 23px
	height: 35px
	width: 35px
	line-height: 35px
	position: fixed
	right: 10px
	text-align: center
	top: 17.5px
	transition: all 0.3s ease-in-out
	transform: rotate(0deg)
	display: none

.menu-mobile-open
	opacity: 1
	visibility: visible
	z-index: 120

.menu-mobile-open.active
	visibility: hidden
	opacity: 0
	z-index: 1000
	transform: rotate(-90deg)

.menu-mobile-close
	opacity: 0
	visibility: hidden
	z-index: 120

.menu-mobile-close.active
	visibility: visible
	opacity: 1
	right: 260px
	z-index: 1500
	transform: rotate(-90deg)

body.active
	overflow: hidden

@media screen and (max-width: 1024px)
	.menu-mobile-close, .menu-mobile-open
		display: block

	.menu-mobile-open.color
		color: $c-2

	.header_content
		height: 70px

	.header_menu
		display: none
	
	.header_logo
		transform: translateY(50%)
		bottom: 50%
		left: 15px
		right: auto