@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2d1558');
  src:  url('../fonts/icomoon.eot?2d1558#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2d1558') format('truetype'),
    url('../fonts/icomoon.woff?2d1558') format('woff'),
    url('../fonts/icomoon.svg?2d1558#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-derecha:before {
  content: "\e904";
}
.icon-arrow-izquierda:before {
  content: "\e903";
}
.icon-logo-footer:before {
  content: "\e902";
}
.icon-staff:before {
  content: "\e60e";
}
.icon-lupa:before {
  content: "\e900";
}
.icon-logo:before {
  content: "\e901";
}
.icon-arrow-bottom:before {
  content: "\e923";
}
.icon-eye:before {
  content: "\e924";
}
.icon-phone-2:before {
  content: "\e925";
}
.icon-corazon:before {
  content: "\e91a";
}
.icon-close:before {
  content: "\e605";
}
.icon-social-facebook:before {
  content: "\e603";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-search:before {
  content: "\e612";
}
.icon-location:before {
  content: "\e600";
}
.icon-phone:before {
  content: "\e60a";
}
.icon-youtube:before {
  content: "\e601";
}
