<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		//- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css", integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M", crossorigin="anonymous")
		link(rel="stylesheet", href="assets/css/plugins.css")
		block css
		link(rel="stylesheet", href="assets/css/main.css")
		title Document
	block vars
	body(class=`${bodyClass}`, id="page--inicio")
		include header.pug

		block content

		include footer.pug
		
		script(src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous")
		//- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		//- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js', integrity='sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1', crossorigin='anonymous')
		script(src="assets/js/header.js")
		script(src="assets/js/main.js")
		script(src="assets/js/jquery.waypoints.js")
		script.
			$(()=>{
				//- +++ PHONE FOOTER +++
				$('.openInfoPhone').click(function(event) {
					$('.footer_whatsapp').addClass('active');
				});
				
				$('.closeInfoPhone').click(function(event) {
					$('.footer_whatsapp').removeClass('active');
				});

				var animaFooter = $('.footer');
				animaFooter.waypoint(function(direction) {
					if (direction === 'down') {
							$('.footer_whatsapp').addClass('footer_whatsapp_position');
					} else{
						$('.footer_whatsapp').removeClass('footer_whatsapp_position');
					}
					}, {
					offset:'100%'
				});
				//- <<< end >>>
			})
		block scripts
		