footer.footer
	article.footer_whatsapp
			.footer_whatsapp_box
				.footer_whatsapp_group
					span.footer_whatsapp_close.icon-close.closeInfoPhone
					a(href="tel:940414753", class="footer_whatsapp_wrap")
						.footer_whatsapp_txt
							.footer_whatsapp_txt_content
								p
									| AGENDA UNA CITA Y CONOCE MÁS DETALLES DEL PROYECTO
									strong 940 414 753
			.footer_whatsapp_icon.footer_whatsapp_icon_desktop.openInfoPhone
			a(href="tel:940414753", class="footer_whatsapp_icon footer_whatsapp_icon_responsive")

	.footer_content
		.footer_block1
			.footer_b1_logo
				figure(class="icon-logo-footer")
			.footer_b1_datos
				.footer_b1_datos_box1
					p 
						| Los Acantilados S/N Urbanización El Peñascal Entrada Cruz de Hueso, altura del km 46
				.footer_b1_datos_box2
					a(href="mailto:lprado@líder.com.pe") lprado@líder.com.pe
				.footer_b1_datos_box3
					p PROGRAMA UNA CITA
						strong 940 414 753
		.footer_block2
			.footer_b2_box1
				p © Copyright 2018 - Todos los derechos reservados
			.footer_b2_box2
				p Diseño de páginas web
				span(class="icon-corazon footer__icon__heart")
				a(href="https://www.staffdigital.pe" target="_blank") StaffDigital