header.header
	.header_main
		.header_content.linkScroll
			a(href="#page--inicio", data-url="/", data-title="Inicio - Landing Namua", class="header_logo headerLogo")
				figure.header_logo_img
					img(src=`${STATIC_URL}img/header-logo.svg`, width="139", height="56", alt="")
			nav.header_menu
				ul.headerList
					li
						a(href="#inicio", data-url="/" data-title="Inicio - Landing NAMUA", class="link-inicio active") NAMUA
					li
						a(href="#proyecto", data-url="/el_proyecto/" data-title="El Proyecto - Landing NAMUA", class="link-proyecto") EL PROYECTO
					li
						a(href="#espacios", data-url="/los_espacios/" data-title="Los Espacios - Landing NAMUA", class="link-espacio") LOS ESPACIOS
			nav.header_menu
				ul.headerList
					li
						a(href="#ubicacion", data-url="/ubicacion/" data-title="Ubicación - Landing NAMUA", class="link-ubicacion") UBICACIÓN
					li
						a(href="#respaldo", data-url="/respaldo/" data-title="Respaldo - Landing NAMUA", class="link-respaldo") RESPALDO
					li
						a(href="#contacto", data-url="/contacto/" data-title="contacto - Landing NAMUA", class="link-contacto") CONTACTO

//- header menu responsive
.menu-mobile-open.icon-menu
.menu-mobile-close.icon-close

.header-menu-overlay
.menu-sidebar.linkScroll
	.menu-sidebar-cnt