extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'header_hidden'
//- ---

//- Contenido
block content
	.ctn__env__error
		.ctn__env__error__wrapper
			h3 Mensaje Enviado
			p Continúa navegando o visita nuestras promociones.
			a(href="home.html", class="g_button") Regresar al home


//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})