extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lightgallery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-fb-comment-box.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-transitions.min.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.homeb4
		figure(class="homeb4_bg_img", style=`background-image:url('${STATIC_URL}img/homeb4-bg-img.jpg');`)
		.homeb4_content
			.homeb4_title
				.title__general
					h2 DEFINIR COMO QUIERES VIVIR ES UN PRIMER PASO
			.homeb4_slider
				ul.homeb4PitcherSlick
					-for (var i = 0; i < 2; i++)
						li
							.homeb4_block
								.homeb4_block_left
									figure.homeb4_img.homeb4Gallery
										a(href=`${STATIC_URL}img/homeb4-img${i+1}.png`, class="")
											img(src=`${STATIC_URL}img/homeb4-img${i+1}.png`, width="289", height="254", alt="")
								.homeb4_block_right
									article.homeb4_info
										.homeb4_text1
											h3 PLANO <strong>TIPO 3</strong>
										.homeb4_wrap_text
											.homeb4_text2
												p Área total <strong>215.20m<sup>2</sup></strong>
											.homeb4_text2
												p Área terraza <strong>215.20m<sup>2</sup></strong>
										.homeb4_wrap_link
											.homeb4_box_link
												a(href="", download="", class="homeb4_link")
													span.homeb4_link_icon.icon-arrow-bottom
													span.homeb4_link_text Descargar plano
											.homeb4_box_link
												a(href="", class="homeb4_link")
													span.homeb4_link_icon.icon-eye
													span.homeb4_link_text Ver vista 180º

//- js
append scripts
	script(src=`${STATIC_URL}js/gallery/lightgallery.js`)
	script(src=`${STATIC_URL}js/gallery/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/gallery/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/gallery/lg-zoom.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			//- +++ fancy planos +++
			$('.homeb4Gallery').lightGallery({
				selector: 'a',
				thumbnail: false
			}); 
			//- <<< end >>>

			//- +++ slider slick - planos +++
			var homeb4Slick = $('.homeb4PitcherSlick').slick({
				autoplay: true,
				autoplaySpeed: 3000,
				speed: 500,
				arrows: true,
				dots: false
			});
			//- <<< end >>>
		})