extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.homeb1
		.homeb1_slider
			ul.homeb1PitcherSlider
				-for (var i = 0; i < 3; i++)
					li
						div(class="homeb1_block resolutionImg", data-img=`${STATIC_URL}img/homeb1-banner-desktop.jpg;${STATIC_URL}img/homeb1-banner-mobile.jpg`)
							figure(class="homeb1_bg_img styleImg", style=`background-image:url();`)
							article.homeb1_info
								.homeb1_wrap
									.homeb1_text.homeb1_text1
										h2 TU ESPACIO
									.homeb1_imgtext
										img(src=`${STATIC_URL}img/homeb1-imgtext.png`, width="440", height="155", alt="")
									.homeb1_text.homeb1_text2
										h2 MÁS CERCA
									.homeb1_text3
										p Dptos. con vista al mar 180º
//- js
append scripts 
	script(src=`${STATIC_URL}js/bxslider/jquery.bxslider.min.js`)
	script.
		$(()=>{
			// +++ cambio de imagenes por resoluciones +++
			function resolutionImg(){
				$('.resolutionImg').each(function(index, el) {
					var urlImg = $(this).attr('data-img');
					var separatorImg = urlImg.split(';');
					var screenImg = $(window).width();
					var styleImg = 'background-image:url(';
					var cierreImg = ')';
					//- Insertando imagen segun resolucion:
					if (screenImg > 767) {
						$(el).find('.styleImg').attr('style', styleImg+separatorImg[0]+cierreImg);
					}
					if (screenImg <= 767) {
						$(el).find('.styleImg').attr('style', styleImg+separatorImg[1]+cierreImg);
					};
				});
			};
			resolutionImg();
			$(window).resize(function(event) {
				resolutionImg();
			});
			//- <<< end >>>

			//- +++ slider banner +++
			$('.homeb1PitcherSlider').bxSlider({
				mode: 'fade',
				adaptiveHeight:true,
				auto: true,
				pause: '5000',
				speed: '600',
				controls: false,
				pager: true,
				onSliderLoad: function(currentIndex) {
					$('.homeb1PitcherSlider').children().eq(currentIndex).addClass('active');
				},
				onSlideBefore: function($slideElement){
					$('.homeb1PitcherSlider').children().removeClass('active');
					setTimeout( function(){
						$slideElement.addClass('active');
					},500);
				}
			});
			//- <<< end >>>
		})