extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-fb-comment-box.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-transitions.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lightgallery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)


//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section#inicio
		//- BLOQUE #1
		article.homeb1
			.homeb1_slider
				ul.homeb1PitcherSlider
					-for (var i = 0; i < 3; i++)
						li
							div(class="homeb1_block resolutionImg", data-img=`${STATIC_URL}img/homeb1-banner-desktop.jpg;${STATIC_URL}img/homeb1-banner-mobile.jpg`)
								figure(class="homeb1_bg_img styleImg", style=`background-image:url();`)
								article.homeb1_info
									.homeb1_wrap
										.homeb1_text.homeb1_text1
											h2 TU ESPACIO
										.homeb1_imgtext
											img(src=`${STATIC_URL}img/homeb1-imgtext.png`, width="440", height="155", alt="")
										.homeb1_text.homeb1_text2
											h2 MÁS CERCA
										.homeb1_text3
											p Dptos. con vista al mar 180º

	section#proyecto
		//- BLOQUE #2
		article.home_b2(style=`background-image:url('${STATIC_URL}img/homeb2-img-bg.jpg');`)
			.home_b2_content
				.home_b2_box1
					figure.home_b2_box1_img.animacionHomeb2(style=`background-image:url('${STATIC_URL}img/homeb2-img1.jpg');`)
				.home_b2_box2
					.home_b2_box2_h2
						h2 UN NUEVO
							strong CONCEPTO DE VIDA
					.home_b2_box2_p
						p
							| Namua se inspira en la geografía y el espíritu de la pequeña isla paradisiaca del Pacífico Sur a la que debe su nombre. Como en la isla a la que hace alusión, ofrece una vista panorámica con 180° de azul que se despliegan frente a los ojos en un horizonte infinito. Transcurre en un condominio con características de club, con la seguridad de un espacio privado, pleno en zonas verdes y áreas comunes para disfrutar todo el año.

		//- BLOQUE #3
		article.homeb3
			.homeb3_content
				-for (var i = 0; i < 4; i++)
					article.homeb3_box
						figure(class="homeb3_img", style=`background-image:url('${STATIC_URL}img/homeb3-img${i+1}.jpg');`)
						.homeb3_info
							.homeb3_wrap
								.homeb3_title
									h2 PLENO EN ÁREA LIBRE Y JARDINES

		//- BLOQUE #4
		article.homeb4
			figure(class="homeb4_bg_img", style=`background-image:url('${STATIC_URL}img/homeb4-bg-img.jpg');`)
			.homeb4_content
				.homeb4_title
					.title__general
						h2 DEFINIR COMO QUIERES VIVIR ES UN PRIMER PASO
				.homeb4_slider
					ul.homeb4PitcherSlick
						-for (var i = 0; i < 2; i++)
							li
								.homeb4_block
									.homeb4_block_left
										figure.homeb4_img.homeb4Gallery
											a(href=`${STATIC_URL}img/homeb4-img${i+1}.png`, class="")
												img(src=`${STATIC_URL}img/homeb4-img${i+1}.png`, width="289", height="254", alt="")
									.homeb4_block_right
										article.homeb4_info
											.homeb4_text1
												h3 PLANO <strong>TIPO 3</strong>
											.homeb4_wrap_text
												.homeb4_text2
													p Área total <strong>215.20m<sup>2</sup></strong>
												.homeb4_text2
													p Área terraza <strong>215.20m<sup>2</sup></strong>
											.homeb4_wrap_link
												.homeb4_box_link
													a(href="", download="", class="homeb4_link")
														span.homeb4_link_icon.icon-arrow-bottom
														span.homeb4_link_text Descargar plano
												.homeb4_box_link
													a(href="", class="homeb4_link")
														span.homeb4_link_icon.icon-eye
														span.homeb4_link_text Ver vista 180º

	section#espacios
		//- BLOQUE #5
		article.home_b5(style=`background-image:url('${STATIC_URL}img/homeb5-img-bg.jpg');`)
			.home_b5_content
				.home_b5_box_insert
					h2 EL ESPÍRITU MARINO SE ENCUENTRA CON UN ESTILO DE VIDA COMTEMPORÁNEO
					.home_b5_box_insert_btn
						a(href="", class="g_button openTab", data-id="tab_1") ÁREAS COMUNES
						a(href="", class="g_button azul openTab", data-id="tab_2") INTERIORES
				.home_b5_item_content
					.home_b5_item.active(id="tab_1")
						ul.home_b5_ul
							li
								a(href=`${STATIC_URL}img/homeb5-img1.jpg`, class="home_b5_ul_a animacionHomeb5", style=`background-image:url('${STATIC_URL}img/homeb5-img1.jpg');`)
									.home_b5_ul_span
							li
								a(href=`${STATIC_URL}img/homeb5-img2.jpg`, class="home_b5_ul_a animacionHomeb5", style=`background-image:url('${STATIC_URL}img/homeb5-img2.jpg');`)
									.home_b5_ul_span
							li
								a(href=`${STATIC_URL}img/homeb5-img3.jpg`, class="home_b5_ul_a animacionHomeb5", style=`background-image:url('${STATIC_URL}img/homeb5-img3.jpg');`)
									.home_b5_ul_span
							li
								a(href=`${STATIC_URL}img/homeb5-img4.jpg`, class="home_b5_ul_a animacionHomeb5", style=`background-image:url('${STATIC_URL}img/homeb5-img4.jpg');`)
									.home_b5_ul_span
							li
								a(href=`${STATIC_URL}img/homeb5-img5.jpg`, class="home_b5_ul_a animacionHomeb5", style=`background-image:url('${STATIC_URL}img/homeb5-img5.jpg');`)
									.home_b5_ul_span
							li
								a(href=`${STATIC_URL}img/homeb5-img6.jpg`, class="home_b5_ul_a animacionHomeb5", style=`background-image:url('${STATIC_URL}img/homeb5-img6.jpg');`)
									.home_b5_ul_span
					.home_b5_item(id="tab_2")
						ul.home_b5_ul
							li
								a(href=`${STATIC_URL}img/homeb5-img3.jpg`, class="home_b5_ul_a animacionHomeb5", style=`background-image:url('${STATIC_URL}img/homeb5-img3.jpg');`)
									.home_b5_ul_span
							li
								a(href=`${STATIC_URL}img/homeb5-img5.jpg`, class="home_b5_ul_a animacionHomeb5", style=`background-image:url('${STATIC_URL}img/homeb5-img5.jpg');`)
									.home_b5_ul_span
							li
								a(href=`${STATIC_URL}img/homeb5-img6.jpg`, class="home_b5_ul_a animacionHomeb5", style=`background-image:url('${STATIC_URL}img/homeb5-img6.jpg');`)
									.home_b5_ul_span
							li
								a(href=`${STATIC_URL}img/homeb5-img2.jpg`, class="home_b5_ul_a animacionHomeb5", style=`background-image:url('${STATIC_URL}img/homeb5-img2.jpg');`)
									.home_b5_ul_span
							li
								a(href=`${STATIC_URL}img/homeb5-img4.jpg`, class="home_b5_ul_a animacionHomeb5", style=`background-image:url('${STATIC_URL}img/homeb5-img4.jpg');`)
									.home_b5_ul_span
							li
								a(href=`${STATIC_URL}img/homeb5-img1.jpg`, class="home_b5_ul_a animacionHomeb5", style=`background-image:url('${STATIC_URL}img/homeb5-img1.jpg');`)
									.home_b5_ul_span

	section#ubicacion
		//- BLOQUE #6
		article.homeb6
			figure(class="homeb6_bg_img", style=`background-image:url('${STATIC_URL}img/homeb6-img.jpg');`)
			.homeb6_content
				article.homeb6_box
					.homeb6_container
						.homeb6_wrap
							.homeb6_text
								p.
									Ubicado en la exclusiva zona de Peñascal a la altura del km, 47 pan sur, a solo <strong>30 minutos de Lima.</strong>
							.homeb6_button
								a(href="", class="homeb6_link abrir-map")
									span.homeb6_link_text ¿Cómo llegar?
									span.homeb6_link_icon.icon-arrow-right
							.homeb6_mobile
								ul
									li
										a(href="https://www.google.com/maps/dir/?api=1&destination=-12.075343,-77.0903861", class="homeb6_mobile_link")
											figure.homeb6_mobile_img
												img(src=`${STATIC_URL}img/mapslogo.png`, width="39", height="39", alt="")
											span.homeb6_mobile_text ¿Cómo llegar?
									li
										a(href="http://waze.to/?q=-12.075343,-77.0903861", class="homeb6_mobile_link")
											figure.homeb6_mobile_img
												img(src=`${STATIC_URL}img/waze.png`, width="39", height="39", alt="")
											span.homeb6_mobile_text Llega al proyecto con WAZE aquí
			.homeb6_map
				.cnt-map
					.box-map
						#google-maplima.map
						a(href="").g_button.cerrar-map cerrar mapa

	section#respaldo
		//- BLOQUE #7
		article.b7__ctn
			.b7__wrapper
				.b7__wrapper__top
					.b7__item.banner
						.title__general
							h2 LÍDER CON MÁS DE 20 PROYECTOS REALIZADOS 
						.b7__item__banner
							.b7__item__banner__wrapper
								.b7__item__banner__wrapper__prin
									.b7__item__banner__wrapper__title.icon-logo
									.b7__item__banner__wrapper__parrafs
										.b7__item__banner__wrapper__parraf
											h3 15 años
											h4 de trayecoria
										.b7__item__banner__wrapper__parraf
											h3 815 mil m2
											h4 de experiencia

					.b7__item.one.b7__item__slider__one
						.b7__item__img.animacionHomeb7(style=`background-image: url('${STATIC_URL}img/b7-img-1.jpg')`) 
						.b7__item__info
							h3 EDIFICIO MACROS
							p Santiago de Surco

					.b7__item.two.b7__item__slider__two
						.b7__item__parraf
							p Líder, una empresa formada por la familia Wiese, ha labrado un camino de 15 años: en ese trayecto ha entregado viviendas a más de 7,000 familias con proyectos en Lima y Arequipa, además de encargarse de la construcción y comercialización de uno de los primeros edificios de oficinas prime en Perú. 
						.b7__item__img.animacionHomeb7(style=`background-image: url('${STATIC_URL}img/b7-img-2.jpg')`) 
						.b7__item__info
							h3 Olivaria
							p Miraflores
				.b7__wrapper__bottom
					.b7__item.three.b7__item__slider__three
						.b7__item__img.animacionHomeb7(style=`background-image: url('${STATIC_URL}img/b7-img-3.jpg')`) 
						.b7__item__info
							h3 Condomino a
							p Arequipa

					.b7__item.four.b7__item__slider__four
						.b7__item__img.animacionHomeb7(style=`background-image: url('${STATIC_URL}img/b7-img-4.jpg')`) 
						.b7__item__info
							h3 C.C Megaplaza
							p Independencia

				.b7__wrapper__slider
					.b7-slider

	section#contacto
		//- BLOQUE #8
		article.b8__ctn
			.b8__wrapper
				.b8__wrapper__form
					.title__general
						h2 AGENDA UNA CITA Y CONOCE MÁS DETALLES DEL PROYECTo
					.b8__wrapper__form__parraf
						p 
							strong Visita nuestro showroom de Viernes a Domingo 
							a(href="#") 940 414 753  -  
							a(href="#") lprado@líder.com.pe
					.b8__wrapper__form__prin
						form#form-prin
							.b8__wrapper__form__items
								.b8__wrapper__form__item
									input(type="text", placeholder="Nombre :", class="validate[required]")
								.b8__wrapper__form__item
									input(type="text", placeholder="Apellidos :", class="validate[required]")
								.b8__wrapper__form__item
									input(type="text", placeholder="Télefono :", class="validate[required]")
								.b8__wrapper__form__item
									input(type="email", placeholder="Email :", class="validate[required]")
								.b8__wrapper__form__item.full
									textarea(placeholder="Mensaje :", class="validate[required]")
							.b8__wrapper__form__btn
								button.g_button Enviar
				.b8__wrapper__info
					.b8__wrapper__info__wrapper
						.title__general
							h2 MANTENTE INFORMADO
						.b8__wrapper__info__items
							- for (var i = 0; i < 3; i++)
								.b8__wrapper__info__item
									.b8__wrapper__info__item__img
										figure
											img(src=`${STATIC_URL}img/b8-img.jpg`)
									.b8__wrapper__info__item__info 
										h4 20/04/17
										p LIDER: Ganadores del premio ADS de arquitectura a nivel regional

//- js
append scripts 
	script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script(src=`${STATIC_URL}js/bxslider/jquery.bxslider.min.js`)
	script(src=`${STATIC_URL}js/jquery-kitssu.min.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/gallery/lightgallery.js`)
	script(src=`${STATIC_URL}js/gallery/jquery.mousewheel.min.js`)
	script(src=`${STATIC_URL}js/gallery/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/gallery/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/gallery/lg-zoom.js`)
	script.
		//- +++ URL, TITLE, SCROLL - HEADER 1/2 +++
		$(document).ready(function($) {
			function location_url(){
				var w_url = window.location.pathname
				$('a[data-url="'+w_url+'"]').trigger('click');
			}
			location_url();
		});
		//- <<< end >>>

		$(()=>{
		//- +++ URL, TITLE, SCROLL - HEADER 2/2 +++
			function wLinkerNav(url_obj){
				console.log(url_obj.attr('data-url'));
				window.history.pushState(200, url_obj.attr('data-title'), url_obj.attr('data-url'));
			}

			var section_1 = $('#inicio');
			var section_2 = $('#proyecto');
			var section_3 = $('#espacios');
			var section_4 = $('#ubicacion');
			var section_5 = $('#respaldo');
			var section_6 = $('#contacto');

			var menu_1 = $('.link-inicio');
			var menu_2 = $('.link-proyecto');
			var menu_3 = $('.link-espacio');
			var menu_4 = $('.link-ubicacion');
			var menu_5 = $('.link-respaldo');
			var menu_6 = $('.link-contacto');

			section_2.waypoint(function(direction) {
				if (direction === 'down') {
					section_2.addClass('active');
					section_1.removeClass('active');
					menu_2.addClass('active');
					menu_1.removeClass('active');
					wLinkerNav(menu_2);
				}
				else{
					section_2.removeClass('active');
					section_1.addClass('active');
					menu_1.addClass('active');
					menu_2.removeClass('active');
					wLinkerNav(menu_1);
				}
			}, {
				offset:'40%'
			});
			section_3.waypoint(function(direction) {
				if (direction === 'down') {
					section_3.addClass('active');
					section_2.removeClass('active');
					menu_3.addClass('active');
					menu_2.removeClass('active');
					wLinkerNav(menu_3);
				}
				else{
					section_3.removeClass('active');
					section_2.addClass('active');
					menu_3.removeClass('active');
					menu_2.addClass('active');
					wLinkerNav(menu_2);
				}
			}, {
				offset:'40%'
			});
			section_4.waypoint(function(direction) {
				if (direction === 'down') {
					section_4.addClass('active');
					section_3.removeClass('active');
					menu_4.addClass('active');
					menu_3.removeClass('active');
					wLinkerNav(menu_4);
				}
				else{
					section_4.removeClass('active');
					section_3.addClass('active');
					menu_4.removeClass('active');
					menu_3.addClass('active');
					wLinkerNav(menu_3);
				}
			}, {
				offset:'40%'
			});
			section_5.waypoint(function(direction) {
				if (direction === 'down') {
					section_5.addClass('active');
					section_4.removeClass('active');
					menu_5.addClass('active');
					menu_4.removeClass('active');
					wLinkerNav(menu_5);
				}
				else{
					section_5.removeClass('active');
					section_4.addClass('active');
					menu_5.removeClass('active');
					menu_4.addClass('active');
					wLinkerNav(menu_4);
				}
			}, {
				offset:'40%'
			});
			section_6.waypoint(function(direction) {
				if (direction === 'down') {
					section_6.addClass('active');
					section_5.removeClass('active');
					menu_6.addClass('active');
					menu_5.removeClass('active');
					wLinkerNav(menu_6);
				}
				else{
					section_6.removeClass('active');
					section_5.addClass('active');
					menu_6.removeClass('active');
					menu_5.addClass('active');
					wLinkerNav(menu_5);
				}
			}, {
				offset:'40%'
			});
			//- <<< end >>>


			//- ---------------------------
			//- +++ SCRIPT BLOQUES +++
			//- ---------------------------

			// +++ BLOQUE #1 +++
			function resolutionImg(){
				$('.resolutionImg').each(function(index, el) {
					var urlImg = $(this).attr('data-img');
					var separatorImg = urlImg.split(';');
					var screenImg = $(window).width();
					var styleImg = 'background-image:url(';
					var cierreImg = ')';
					//- Insertando imagen segun resolucion:
					if (screenImg > 767) {
						$(el).find('.styleImg').attr('style', styleImg+separatorImg[0]+cierreImg);
					}
					if (screenImg <= 767) {
						$(el).find('.styleImg').attr('style', styleImg+separatorImg[1]+cierreImg);
					};
				});
			};
			resolutionImg();
			$(window).resize(function(event) {
				resolutionImg();
			});

			$('.homeb1PitcherSlider').bxSlider({
				mode: 'fade',
				adaptiveHeight:true,
				auto: true,
				pause: '5000',
				speed: '600',
				controls: false,
				pager: true,
				onSliderLoad: function(currentIndex) {
					$('.homeb1PitcherSlider').children().eq(currentIndex).addClass('active');
				},
				onSlideBefore: function($slideElement){
					$('.homeb1PitcherSlider').children().removeClass('active');
					setTimeout( function(){
						$slideElement.addClass('active');
					},500);
				}
			});
			//- <<< end >>>

			// +++ BLOQUE #2 +++
			var homeb2Proyecto = $('#proyecto');
			homeb2Proyecto.waypoint(function(direction) {
				if (direction === 'down') {
					if($(window).innerWidth() > 1024){
						$('.animacionHomeb2').kitssu({
							background: "#005b80",
							speed: 800,
						});
					}
				}
			}, {
				offset:'40%'
			});
			//- <<< end >>>

			// +++ BLOQUE #4 +++
			$('.homeb4Gallery').lightGallery({
				selector: 'a',
				thumbnail: false
			}); 

			var homeb4Slick = $('.homeb4PitcherSlick').slick({
				autoplay: true,
				autoplaySpeed: 3000,
				speed: 500,
				arrows: true,
				dots: false
			});
			//- <<< end >>>

			// +++ BLOQUE #5 +++
			$('.home_b5_ul').lightGallery({
				selector:'a',
				thumbnail: false
			});

			$('.home_b5_box_insert_btn .openTab').click(function(e) {
				e.preventDefault();
				$('.home_b5_box_insert_btn .openTab').removeClass('active');
					$(this).addClass('active');
					var data_id_b8 = $(this).attr('data-id');
				$('.home_b5_item').removeClass('active');
				$('.home_b5_item[id="'+data_id_b8+'"]').addClass('active');
			});

			var homeb5Espacios = $('#espacios');
			homeb5Espacios.waypoint(function(direction) {
				if (direction === 'down') {
					if($(window).innerWidth() > 1024){
						$('.animacionHomeb5').kitssu({
							background: "#005b80",
							speed: 800,
						});
					}
				}
			}, {
				offset:'40%'
			});
			//- <<< end >>>

			// +++ BLOQUE #6 +++
			function initMap() {
				var $map = $( '#google-maplima' );
				if ( ! $map.length ) return;
				var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18); // <- Your latitude and longitude
				var styles = [
					{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
					{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
					{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
					{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
					{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
					{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
					{"featureType": "transit","stylers": [{"visibility": "off"}]},
					{"featureType": "poi","stylers": [{"visibility": "off"}]}
				]
				var mapOptions = {
					zoom             : 15,
					center           : myLatlng,
					mapTypeControl   : true,
					disableDefaultUI : true,
					zoomControl      : true,
					scrollwheel      : false,
					styles           : styles,
					draggable        : true
				}
				var map = new google.maps.Map(document.getElementById('google-maplima'), mapOptions);

				var marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					icon:"../assets/img/marker-icono.png"
					
				});
			}
			google.maps.event.addDomListener(window, 'load', initMap),
			$(".abrir-map").click(function(event) {
				event.preventDefault();
				$(".box-map").addClass('anima-map');
			});
			$(".cnt-map .cerrar-map").click(function(event) {
				event.preventDefault();
				$(".box-map").removeClass('anima-map');
			});
			//- <<< end >>>

			// +++ BLOQUE #7 +++
			$('.b7__item__parraf').clone().appendTo('.b7__wrapper__slider').insertBefore('.b7-slider');
			$('.b7__item__slider__one').clone().appendTo('.b7-slider');
			$('.b7__item__slider__two').clone().appendTo('.b7-slider');
			$('.b7__item__slider__three').clone().appendTo('.b7-slider');
			$('.b7__item__slider__four').clone().appendTo('.b7-slider');
			
			function slider__content__slider(){
				if($(window).width() <= 960){
					$('.b7-slider').slick({
						infinite: true,
						dots: false,
						nav: false,
						arrows: false,
						autoplay: true,
						speed: 500,
						slidesToShow: 1
					});
				}
			}

			slider__content__slider();

			$(window).resize(function(event) {
			   slider__content__slider();
			});

			var homeb7Respaldo = $('#respaldo');
			homeb7Respaldo.waypoint(function(direction) {
				if (direction === 'down') {
					if($(window).innerWidth() > 1024){
						$('.animacionHomeb7').kitssu({
							background: "#005b80",
							speed: 800,
						});
					}
				}
			}, {
				offset:'40%'
			});
			//- <<< end >>>

			// +++ BLOQUE #8 +++
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true
			});

			$("#form-prin").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});
			//- <<< end >>>
		})