extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-fb-comment-box.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-transitions.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lightgallery.css`)

	
//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.home_b5(style=`background-image:url('${STATIC_URL}img/homeb5-img-bg.jpg');`)
		.home_b5_content
			.home_b5_box_insert
				h2 EL ESPÍRITU MARINO SE ENCUENTRA CON UN ESTILO DE VIDA COMTEMPORÁNEO
				.home_b5_box_insert_btn
					a(href="", class="g_button openTab", data-id="tab_1") ÁREAS COMUNES
					a(href="", class="g_button azul openTab", data-id="tab_2") INTERIORES
			.home_b5_item_content
				.home_b5_item.active(id="tab_1")
					ul.home_b5_ul
						li
							a(href=`${STATIC_URL}img/homeb5-img1.jpg`, class="home_b5_ul_a", style=`background-image:url('${STATIC_URL}img/homeb5-img1.jpg');`)
								.home_b5_ul_span
						li
							a(href=`${STATIC_URL}img/homeb5-img2.jpg`, class="home_b5_ul_a", style=`background-image:url('${STATIC_URL}img/homeb5-img2.jpg');`)
								.home_b5_ul_span
						li
							a(href=`${STATIC_URL}img/homeb5-img3.jpg`, class="home_b5_ul_a", style=`background-image:url('${STATIC_URL}img/homeb5-img3.jpg');`)
								.home_b5_ul_span
						li
							a(href=`${STATIC_URL}img/homeb5-img4.jpg`, class="home_b5_ul_a", style=`background-image:url('${STATIC_URL}img/homeb5-img4.jpg');`)
								.home_b5_ul_span
						li
							a(href=`${STATIC_URL}img/homeb5-img5.jpg`, class="home_b5_ul_a", style=`background-image:url('${STATIC_URL}img/homeb5-img5.jpg');`)
								.home_b5_ul_span
						li
							a(href=`${STATIC_URL}img/homeb5-img6.jpg`, class="home_b5_ul_a", style=`background-image:url('${STATIC_URL}img/homeb5-img6.jpg');`)
								.home_b5_ul_span
				.home_b5_item(id="tab_2")
					ul.home_b5_ul
						li
							a(href=`${STATIC_URL}img/homeb5-img3.jpg`, class="home_b5_ul_a", style=`background-image:url('${STATIC_URL}img/homeb5-img3.jpg');`)
								.home_b5_ul_span
						li
							a(href=`${STATIC_URL}img/homeb5-img5.jpg`, class="home_b5_ul_a", style=`background-image:url('${STATIC_URL}img/homeb5-img5.jpg');`)
								.home_b5_ul_span
						li
							a(href=`${STATIC_URL}img/homeb5-img6.jpg`, class="home_b5_ul_a", style=`background-image:url('${STATIC_URL}img/homeb5-img6.jpg');`)
								.home_b5_ul_span
						li
							a(href=`${STATIC_URL}img/homeb5-img2.jpg`, class="home_b5_ul_a", style=`background-image:url('${STATIC_URL}img/homeb5-img2.jpg');`)
								.home_b5_ul_span
						li
							a(href=`${STATIC_URL}img/homeb5-img4.jpg`, class="home_b5_ul_a", style=`background-image:url('${STATIC_URL}img/homeb5-img4.jpg');`)
								.home_b5_ul_span
						li
							a(href=`${STATIC_URL}img/homeb5-img1.jpg`, class="home_b5_ul_a", style=`background-image:url('${STATIC_URL}img/homeb5-img1.jpg');`)
								.home_b5_ul_span

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script(src=`${STATIC_URL}js/gallery/lightgallery.js`)
	script(src=`${STATIC_URL}js/gallery/jquery.mousewheel.min.js`)
	script(src=`${STATIC_URL}js/gallery/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/gallery/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/gallery/lg-zoom.js`)
	
	script.
		$(function() {
		 // fancy imagen
			$('.home_b5_ul').lightGallery({
				selector:'a',
				thumbnail: false
			});

			$('.home_b5_box_insert_btn .openTab').click(function(e) {
				e.preventDefault();
				$('.home_b5_box_insert_btn .openTab').removeClass('active');
					$(this).addClass('active');
					var data_id_b8 = $(this).attr('data-id');
				$('.home_b5_item').removeClass('active');
				$('.home_b5_item[id="'+data_id_b8+'"]').addClass('active');
			});

		});