extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.homeb3
		.homeb3_content
			-for (var i = 0; i < 4; i++)
				article.homeb3_box
					figure(class="homeb3_img", style=`background-image:url('${STATIC_URL}img/homeb3-img${i+1}.jpg');`)
					.homeb3_info
						.homeb3_wrap
							.homeb3_title
								h2 PLENO EN ÁREA LIBRE Y JARDINES



//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})