extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.b7__ctn
		.b7__wrapper
			.b7__wrapper__top
				.b7__item.banner
					.title__general
						h2 LÍDER CON MÁS DE 20 PROYECTOS REALIZADOS 
					.b7__item__banner
						.b7__item__banner__wrapper
							.b7__item__banner__wrapper__prin
								.b7__item__banner__wrapper__title.icon-logo
								.b7__item__banner__wrapper__parrafs
									.b7__item__banner__wrapper__parraf
										h3 15 años
										h4 de trayecoria
									.b7__item__banner__wrapper__parraf
										h3 815 mil m2
										h4 de experiencia

				.b7__item.one.b7__item__slider__one
					.b7__item__img.animacion(style=`background-image: url('${STATIC_URL}img/b7-img-1.jpg')`) 
					.b7__item__info
						h3 EDIFICIO MACROS
						p Santiago de Surco

				.b7__item.two.b7__item__slider__two
					.b7__item__parraf
						p Líder, una empresa formada por la familia Wiese, ha labrado un camino de 15 años: en ese trayecto ha entregado viviendas a más de 7,000 familias con proyectos en Lima y Arequipa, además de encargarse de la construcción y comercialización de uno de los primeros edificios de oficinas prime en Perú. 
					.b7__item__img.animacion(style=`background-image: url('${STATIC_URL}img/b7-img-2.jpg')`) 
					.b7__item__info
						h3 Olivaria
						p Miraflores
			.b7__wrapper__bottom
				.b7__item.three.b7__item__slider__three
					.b7__item__img.animacion(style=`background-image: url('${STATIC_URL}img/b7-img-3.jpg')`) 
					.b7__item__info
						h3 Condomino a
						p Arequipa

				.b7__item.four.b7__item__slider__four
					.b7__item__img.animacion(style=`background-image: url('${STATIC_URL}img/b7-img-4.jpg')`) 
					.b7__item__info
						h3 C.C Megaplaza
						p Independencia

			.b7__wrapper__slider
				.b7-slider



//- js
append scripts 
	script(src=`${STATIC_URL}js/jquery-kitssu.min.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			if($(window).innerWidth() > 1024){
				$('.animacion').kitssu({
					background: "#005b80",
					speed: 800,
				});
			}
			$('.b7__item__parraf').clone().appendTo('.b7__wrapper__slider').insertBefore('.b7-slider');
			$('.b7__item__slider__one').clone().appendTo('.b7-slider');
			$('.b7__item__slider__two').clone().appendTo('.b7-slider');
			$('.b7__item__slider__three').clone().appendTo('.b7-slider');
			$('.b7__item__slider__four').clone().appendTo('.b7-slider');
			
			function slider__content__slider(){
				if($(window).width() <= 960){
					$('.b7-slider').slick({
						infinite: true,
						dots: false,
						nav: false,
						arrows: false,
						autoplay: true,
						speed: 500,
						slidesToShow: 1
					});
				}
			}

			slider__content__slider();

			$(window).resize(function(event) {
			   slider__content__slider();
			});

			
		})