extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.b8__ctn
		.b8__wrapper
			.b8__wrapper__form
				.title__general
					h2 AGENDA UNA CITA Y CONOCE MÁS DETALLES DEL PROYECTo
				.b8__wrapper__form__parraf
					p 
						strong Visita nuestro showroom de Viernes a Domingo 
						a(href="#") 940 414 753  -  
						a(href="#") lprado@líder.com.pe
				.b8__wrapper__form__prin
					form#form-prin
						.b8__wrapper__form__items
							.b8__wrapper__form__item
								input(type="text", placeholder="Nombre :", class="validate[required]")
							.b8__wrapper__form__item
								input(type="text", placeholder="Apellidos :", class="validate[required]")
							.b8__wrapper__form__item
								input(type="text", placeholder="Télefono :", class="validate[required]")
							.b8__wrapper__form__item
								input(type="email", placeholder="Email :", class="validate[required]")
							.b8__wrapper__form__item.full
								textarea(placeholder="Mensaje :", class="validate[required]")
						.b8__wrapper__form__btn
							button.g_button Enviar
			.b8__wrapper__info
				.b8__wrapper__info__wrapper
					.title__general
						h2 MANTENTE INFORMADO
					.b8__wrapper__info__items
						- for (var i = 0; i < 3; i++)
							.b8__wrapper__info__item
								.b8__wrapper__info__item__img
									figure
										img(src=`${STATIC_URL}img/b8-img.jpg`)
								.b8__wrapper__info__item__info 
									h4 20/04/17
									p LIDER: Ganadores del premio ADS de arquitectura a nivel regional

//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script.
		$(()=>{
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true
			});

			$("#form-prin").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});
		})