extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.home_b2(style=`background-image:url('${STATIC_URL}img/homeb2-img-bg.jpg');`)
		.home_b2_content
			.home_b2_box1
				figure.home_b2_box1_img.animacion(style=`background-image:url('${STATIC_URL}img/homeb2-img1.jpg');`)
			.home_b2_box2
				.home_b2_box2_h2
					h2 UN NUEVO
						strong CONCEPTO DE VIDA
				.home_b2_box2_p
					p
						| Namua se inspira en la geografía y el espíritu de la pequeña isla paradisiaca del Pacífico Sur a la que debe su nombre. Como en la isla a la que hace alusión, ofrece una vista panorámica con 180° de azul que se despliegan frente a los ojos en un horizonte infinito. Transcurre en un condominio con características de club, con la seguridad de un espacio privado, pleno en zonas verdes y áreas comunes para disfrutar todo el año.
			
//- js
append scripts 
	script(src=`${STATIC_URL}js/jquery-kitssu.min.js`)
	script.
		$(()=>{
			/**** DESCRIPCION- animacion ****/
			if($(window).innerWidth() > 1024){
				$('.animacion').kitssu({
					background: "#005b80",
					speed: 800,
				});
			}
		})