extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.homeb6
		figure(class="homeb6_bg_img", style=`background-image:url('${STATIC_URL}img/homeb6-img.jpg');`)
		.homeb6_content
			article.homeb6_box
				.homeb6_container
					.homeb6_wrap
						.homeb6_text
							p.
								Ubicado en la exclusiva zona de Peñascal a la altura del km, 47 pan sur, a solo <strong>30 minutos de Lima.</strong>
						.homeb6_button
							a(href="", class="homeb6_link abrir-map")
								span.homeb6_link_text ¿Cómo llegar?
								span.homeb6_link_icon.icon-arrow-right
						.homeb6_mobile
							ul
								li
									a(href="https://www.google.com/maps/dir/?api=1&destination=-12.075343,-77.0903861", class="homeb6_mobile_link")
										figure.homeb6_mobile_img
											img(src=`${STATIC_URL}img/mapslogo.png`, width="39", height="39", alt="")
										span.homeb6_mobile_text ¿Cómo llegar?
								li
									a(href="http://waze.to/?q=-12.075343,-77.0903861", class="homeb6_mobile_link")
										figure.homeb6_mobile_img
											img(src=`${STATIC_URL}img/waze.png`, width="39", height="39", alt="")
										span.homeb6_mobile_text Llega al proyecto con WAZE aquí
		.homeb6_map
			.cnt-map
				.box-map
					#google-maplima.map
					a(href="").g_button.cerrar-map cerrar mapa

//- js
append scripts 
	script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//- +++ mapa +++
			function initMap() {
				var $map = $( '#google-maplima' );
				if ( ! $map.length ) return;
				var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18); // <- Your latitude and longitude
				var styles = [
					{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
					{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
					{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
					{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
					{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
					{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
					{"featureType": "transit","stylers": [{"visibility": "off"}]},
					{"featureType": "poi","stylers": [{"visibility": "off"}]}
				]
				var mapOptions = {
					zoom             : 15,
					center           : myLatlng,
					mapTypeControl   : true,
					disableDefaultUI : true,
					zoomControl      : true,
					scrollwheel      : false,
					styles           : styles,
					draggable        : true
				}
				var map = new google.maps.Map(document.getElementById('google-maplima'), mapOptions);

				var marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					icon:"../assets/img/marker-icono.png"
					
				});
			}
			google.maps.event.addDomListener(window, 'load', initMap),
			$(".abrir-map").click(function(event) {
				event.preventDefault();
				$(".box-map").addClass('anima-map');
			});
			$(".cnt-map .cerrar-map").click(function(event) {
				event.preventDefault();
				$(".box-map").removeClass('anima-map');
			});
			//- +++ end +++
		})