.ctn__env__error
	height: calc(100% - 238px)
	width: 100%
	background: url('../img/homeb1-banner-desktop.jpg') center no-repeat
	background-size: cover
	display: flex
	align-items: center
	box-sizing: border-box
.ctn__env__error__wrapper
	width: 100%
	max-width: 740px
	padding: 0 20px
	box-sizing: border-box
	margin: 0 auto
	text-align: center
	h3
		color: $blanco
		margin: 0
		font-size: 43px
		font-family: $t-1
		font-weight: normal
	p
		color: $blanco
		margin: 40px 0
		font-size: 20px
		font-family: $t-0
	a
		text-transform: uppercase
@media screen and (max-width: 1024px)
	.ctn__env__error
		height: calc(100% - 211px)
@media screen and (max-width: 767px)
	.ctn__env__error
		height: 400px
	.ctn__env__error__wrapper
		h3
			font-size: 30px
		p
			margin: 20px 0
			font-size: 15px