.home_b5
	background-position: center
	background-size: cover
	background-repeat: repeat
	a
		outline: none
.home_b5_content
	max-width: 1200px
	width: 100%
	height: auto
	margin: 0 auto
	position: relative
	padding: 80px 20px
	box-sizing: border-box
	position: relative
.home_b5_item_content
	position: relative
	overflow: hidden
.home_b5_item
	width: 100%
	position: absolute
	opacity: 0
	visibility: hidden
	z-index: -1
	&.active
		opacity: 1
		visibility: visible
		z-index: 2
		position: initial

.home_b5_ul
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: flex-end
	li
		margin: 0
	li:nth-child(1)
		width: 464px
		width: 40%
		height: 586px
		margin-left: 20px
		margin-top: 20px
	li:nth-child(2)
		width: 211px
		width: 18%
		height: 292px
		margin: 0
		margin-left: 20px
		margin-top: 20px

	li:nth-child(3)
		width: 420px
		width: 35%
		height: 250px
		margin: 0
		margin-left: 20px

	li:nth-child(4)
		width: 340px
		width: 25%
		height: 318px
		padding-top: 20px

	li:nth-child(5)
		width: 355px
		width: 28%
		height: 318px
		margin-left: 20px
		padding-top: 20px
	li:nth-child(6)
		height: 355px
		width: 425px
		width: 42%
		margin-left: 20px
		margin-top: 20px
.home_b5_box_insert
	width: 630px
	width: 51%
	height: auto
	position: absolute
	top: 160px
	right: 0
	z-index: 5
	h2
		font-size: 30px
		font-family: $t-1
		color: $c-1
		max-width: 408px
		width: 100%
		padding-bottom: 36px
.home_b5_box_insert_btn
	a
		display: inline-block
	a:nth-child(2)
		margin-left: 17px
.home_b5_ul_a
	width: 100%
	height: 100%
	display: block
	margin-top: 20px
	background-position: center
	background-size: cover
	background-repeat: repeat
	position: relative
	margin: 0

.home_b5_ul_a:hover
	.home_b5_ul_span
		opacity: 1
		visibility: visible
		z-index: 99
		border: 1px solid $c-2
	
.home_b5_ul_span
	transition: all .2s ease-in-out
	width: 90%
	height: 90%
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	margin: auto
	opacity: 0
	visibility: hidden
	z-index: -1
@media screen and (max-width: 1024px)
	.home_b5_ul
		margin: 0 auto
		justify-content: center !important
		li
			width: 31% !important
			height: 400px !important
			margin-top: initial !important
		li:nth-child(1)
			margin-left: initial
	.home_b5_box_insert
		position: initial
		display: block
		width: 80%
		margin: 0 auto
		h2
			max-width: 100%
			text-align: center
			padding-bottom: 20px
			padding-top: 20px
	.home_b5_box_insert_btn
		text-align: center
@media screen and (max-width: 767px)
	.home_b5_ul
		li
			width: 48% !important
			height: 240px !important
			margin-left: initial !important
		li:nth-child(even)
			margin-left: 20px!important
@media screen and (max-width: 575px)
	.home_b5_ul
		li
			width: 45% !important
@media screen and (max-width: 575px)
	.home_b5_ul
		li
			width: 100% !important
			margin-top: 20px !important
		li:nth-child(even)
			margin-left: initial !important
	.home_b5_box_insert
		h2
			font-size: 24px
@media screen and (max-width: 472px)
	.home_b5_box_insert_btn
		a
			display: block
			margin: 0 auto
		a:nth-child(2)
			margin-left: initial
			margin: 0 auto
			margin-top: 20px
