.homeb6
	position: relative
	padding: 53px 20px 0 20px

.homeb6_bg_img
	width: 100%
	height: 100%
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	position: absolute
	top: 0
	left: 0

.homeb6_content
	max-width: 1200px
	width: 100%
	height: 650px
	position: relative
	z-index: 2
	margin: auto

.homeb6_box
	width: 439px
	height: 319px
	background: $blanco
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,.1)
	box-sizing: border-box
	padding: 37px 32px
	margin-left: auto
	margin-right: 0

.homeb6_container
	display: flex
	flex-direction: column
	justify-content: center
	width: 100%
	height: 100%
	text-align: center
	border: 1px solid $c-2
	box-sizing: border-box
	padding: 20px

.homeb6_wrap
	max-width: 245px
	width: 100%
	margin: auto

.homeb6_text
	line-height: 24px
	color: $c-1
	font-family: $t-2
	font-size: 20px
	margin-bottom: 24px
	strong
		font-family: $t-1
		font-weight: normal
	p
		margin-bottom: 0

.homeb6_link_text, .homeb6_link_icon
	display: inline-block
	vertical-align: middle
	line-height: 1
	color: $c-1

.homeb6_link_text
	font-family: $t-2
	font-size: 18px

.homeb6_link_icon
	font-size: 26px
	margin-left: 5px

.homeb6_mobile
	display: none
	li
		margin-bottom: 15px
		&:last-child
			margin-bottom: 0

.homeb6_mobile_img, .homeb6_mobile_text
	display: inline-block
	vertical-align: middle

.homeb6_mobile_img
	width: 39px
	img
		display: block
		width: 100%
		height: auto

.homeb6_mobile_text
	line-height: 1
	color: $blanco
	font-family: $t-2
	font-size: 16px
	padding-left: 15px

.homeb6_map
	display: none
	a:focus
		outline: none
	.cnt-map
		text-align: center
	.box-map
		width: 100%
		height: 350px
		position: relative
		transition: all .5s
	.map
		width: 100%
		height: 100%
	.abrir-map, .cerrar-map
		display: none
	.cerrar-map
		position: absolute
		right: 20px
		top: 20px
		z-index: 100
	@media screen and (min-width: 768px)
		display: block
		.cnt-map
			.cerrar-map
				display: block
			.box-map
				position: fixed
				left: 0
				top: -200%
				height: 100%
				width: 100%
				z-index: 3000
				transition: all .4s linear
				&.anima-map
					top: 0

// responsive
@media screen and (max-width: 1024px)
	.homeb6
		padding-top: 50px

	.homeb6_content
		height: 500px

	.homeb6_box
		width: 359px
		height: 249px
		padding: 2% 1.5%

@media screen and (max-width: 767px)
	.homeb6
		background: $c-2
		padding: 40px 15px

	.homeb6_bg_img
		display: none

	.homeb6_content
		height: auto

	.homeb6_box
		width: 100%
		height: auto
		background: none
		box-shadow: inherit
		padding: 0

	.homeb6_container
		text-align: left
		border: none
		padding: 0

	.homeb6_wrap
		max-width: none

	.homeb6_text
		line-height: 22px
		color: $blanco
		font-size: 18px

	.homeb6_button
		display: none
	
	.homeb6_mobile
		display: block