.b8__ctn
	padding: 80px 0 75px 0
	box-sizing: border-box
	.formError 
		.formErrorContent, .formErrorArrow div
			background: $c-1	
.b8__wrapper
	max-width: 1240px
	margin: 0 auto
	padding: 0 20px 0 110px
	box-sizing: border-box
	display: flex
	flex-wrap: wrap
	justify-content: space-between
.b8__wrapper__form, .b8__wrapper__info
	width: 46.5%
	box-sizing: border-box
.b8__wrapper__form
	.title__general
		max-width: 450px
.b8__wrapper__form__parraf
	margin: 17px 0 0 0
	p
		margin: 0
		font-family: $t-2
		font-size: 18px
	strong
		display: block
		color: $c-0
		font-weight: normal
		font-family: $t-1
		margin: 0 0 5px 0
	a
		color: $c-0
.b8__wrapper__form__prin
	padding: 40px 0 0 0
	box-sizing: border-box
.b8__wrapper__form__items
	display: flex
	justify-content: space-between
	flex-wrap: wrap
.b8__wrapper__form__item
	width: 45%
	margin: 0 0 35px 0
	input, textarea
		border: 0
		border-bottom: 1px solid rgba(100, 100, 100, .3)
		width: 100%
		color: $c-3
		font-family: $t-2
		font-size: 15px
		height: 30px
	::placeholder
		color: $c-3
	&.full
		width: 100%
		margin: 0
.b8__wrapper__form__btn
	margin: 45px 0 0 0
	text-transform: uppercase
	button
		text-transform: uppercase
.b8__wrapper__info__wrapper
	border-left: 1px solid rgba(100, 100, 100, .3)
	padding-left: 75px
	box-sizing: border-box
	width: 100%
.b8__wrapper__info__items
	margin: 50px 0 0 0
.b8__wrapper__info__item
	display: flex
	justify-content: space-between
	margin: 0 0 30px 0
	&:last-child
		margin: 0
.b8__wrapper__info__item__img
	width: 80px
	figure
		width: 100%
	img
		max-width: 100%
		display: block
		height: auto
		border-radius: 100%
.b8__wrapper__info__item__info
	width: calc(100% - 115px)
	h4
		font-weight: normal
		margin: 0
		color: $c-1
		font-family: $t-0
		font-size: 14px
	p
		margin: 15px 0 0 0
		color: $c-0
		font-family: $t-0
		font-size: 21px
@media screen and (max-width: 1024px)
	.b8__ctn
		padding: 50px 0
	.b8__wrapper__info__wrapper
		padding-left: 30px
	.b8__wrapper
		padding-left: 55px
	.b8__wrapper__info__item__info
		p 
			font-size: 17px
@media screen and (max-width: 767px)
	.b8__ctn
		padding: 30px 0
		padding-bottom: 70px
	.b8__wrapper
		padding: 0 15px
	.b8__wrapper__form, .b8__wrapper__info
		width: 100%
	.b8__wrapper__info__wrapper
		padding-left: 0
		border: 0
		margin-top: 30px
	.b8__wrapper__info__items, .b8__wrapper__form__btn
		margin-top: 30px
	.b8__wrapper__form__prin
		padding-top: 30px
	.b8__wrapper__form__item
		margin-bottom: 30px
@media screen and (max-width: 767px)
	.b8__wrapper__form__item
		width: 100%