.homeb4
	position: relative
	padding: 110px 0 98px 0

.homeb4_bg_img
	width: 100%
	height: 100%
	background-position: top center
	background-repeat: no-repeat
	background-size: cover
	position: absolute
	top: 0
	left: 0

.homeb4_content
	max-width: 1200px
	width: 100%
	margin: auto

.homeb4_title
	position: relative
	z-index: 2
	text-align: center
	margin-bottom: 35px

.homeb4_slider
	max-width: 853px
	width: 100%
	margin: auto
	li
		background: $blanco
		box-sizing: border-box
		padding: 30px
		@media screen and (min-width: 1025px)
			&:hover
				.homeb4_img a:before
					opacity: 1
					visibility: visible

	.slick-prev, .slick-next
		width: 16px
		height: 32px
		text-align: center
		&:before
			width: 100%
			height: 100%
			line-height: 32px
			color: $c-1
			font-family: $icomoon
			font-weight: bold
			font-size: 30px
			opacity: 1
	.slick-prev
		left: -6.5%
		&:before
			content: "\e903"
	.slick-next
		right: -6.5%
		&:before
			content: "\e904"

.homeb4_block
	display: flex
	flex-direction: row
	flex-wrap: wrap
	width: 100%
	height: 314px
	box-sizing: border-box
	border: 1px solid $c-2

.homeb4_block_left, .homeb4_block_right
	display: flex
	flex-direction: column
	justify-content: center
	width: 50%

.homeb4_img
	max-width: 289px
	width: 100%
	margin: 0 0 0 auto
	img
		display: block
		width: 100%
		height: auto
	a
		display: block
		position: relative
		&:before
			content: "\e900"
			width: 55px
			height: 55px
			line-height: 55px
			text-align: center
			background: $c-1
			color: $blanco
			font-family: $icomoon
			font-size: 19px
			text-align: center
			border-radius: 50%
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			margin: auto
		@media screen and (min-width: 1025px)
			&:before
				opacity: 0
				visibility: hidden
				transition: all .25s ease-in-out

.homeb4_info
	max-width: 245px
	width: 100%
	margin: 0 auto 0 auto

.homeb4_text1
	margin-bottom: 30px
	h3
		line-height: 25px
		letter-spacing: .45px
		color: $c-1
		font-family: $t-2
		font-size: 30px
		margin-bottom: 0
	strong
		font-family: $t-1
		font-weight: normal

.homeb4_wrap_text
	margin-bottom: 40px

.homeb4_text2
	line-height: 26.24px
	color: $c-0
	font-family: $t-0
	font-size: 22px
	margin-bottom: 10px
	strong
		font-family: $t-1
		font-weight: normal
		margin-left: 15px
	p
		margin-bottom: 0
	&:last-child
		margin-bottom: 0

.homeb4_box_link
	margin-bottom: 10px
	&:last-child
		margin-bottom: 0

.homeb4_link_icon, .homeb4_link_text
	display: inline-block
	vertical-align: middle
	line-height: 1

.homeb4_link_icon
	width: 24px
	height: 24px
	line-height: 24px
	color: $c-1
	font-weight: bold
	font-size: 14px
	text-align: center

.homeb4_link_text
	color: $c-0
	font-family: $t-2
	font-size: 18px
	padding-left: 10px

// responsive
@media screen and (max-width: 1024px)
	.homeb4
		padding: 50px 7%

@media screen and (max-width: 960px)
	.homeb4_info
		max-width: 210px

	.homeb4_text1
		h3
			line-height: 21px
			font-size: 26px

	.homeb4_text2
		line-height: 22.24px
		font-size: 18px

	.homeb4_link_text
		font-size: 16px

@media screen and (max-width: 767px)
	.homeb4
		padding: 40px 15px

	.homeb4_slider
		li
			padding: 15px
		.slick-prev, .slick-next
			display: none !important

	.homeb4_block
		flex-direction: column
		height: auto
		padding: 40px 15px

	.homeb4_block_left, .homeb4_block_right
		justify-content: flex-start
		width: 100%

	.homeb4_img
		margin: auto
		margin-bottom: 50px