.homeb1_slider
	height: 650px
	overflow: hidden
	.bx-wrapper .bx-pager
		max-width: 1084px
		text-align: left
		width: 100%
		right: 0
		bottom: 30px
		left: 0
		z-index: 70
		box-sizing: border-box
		padding-top: 0
		padding-left: 15px
		margin: auto
	.bx-wrapper .bx-pager.bx-default-pager a
		width: 14px
		height: 14px
		background: transparent
		border: 1px solid $blanco
		border-radius: 50%
		transition: all .25s ease-in-out
		box-sizing: border-box
		margin: 0
		margin-right: 15px
		&.active
			background: $blanco
		@media screen and (min-width: 1025px)
			&:hover
				background: $blanco

.homeb1_block
	position: relative

.homeb1_bg_img
	width: 100%
	height: 100%
	background-position: top center
	background-repeat: no-repeat
	background-size: cover
	position: absolute
	top: 0
	left: 0

.homeb1_info
	display: flex
	flex-direction: column
	justify-content: center
	max-width: 1084px
	width: 100%
	height: 650px
	position: relative
	z-index: 2
	box-sizing: border-box
	padding-top: 80px
	margin: auto

.homeb1_imgtext
	max-width: 440px
	width: 100%
	margin: 0
	img
		display: block
		width: 100%
		height: auto

.homeb1_text
	padding-left: 15px
	h2
		line-height: 72.93px
		letter-spacing: 0.9px
		color: $blanco
		font-family: $t-1
		font-weight: normal
		font-size: 60px
		margin-bottom: 0

.homeb1_text1
	margin-bottom: 16px

.homeb1_text2
	margin-bottom: 6px

.homeb1_text3
	line-height: 33.47px
	letter-spacing: .41px
	color: $blanco
	font-family: $t-1
	font-size: 27px
	padding-left: 15px
	p
		margin-bottom: 0

// responsive
@media screen and (max-width: 1024px)
	.homeb1_slider
		height: 500px
		.bx-wrapper .bx-pager
			padding-left: 35px

	.homeb1_block
		padding-left: 20px
		padding-right: 20px

	.homeb1_bg_img
		background-position: 76% 0%

	.homeb1_info
		height: 500px
		padding-top: 50px

	.homeb1_imgtext
		max-width: 350px

	.homeb1_text
		h2
			line-height: 60.93px
			font-size: 48px

	.homeb1_text3
		line-height: 28.47px
		font-size: 22px

@media screen and (max-width: 767px)
	.homeb1_slider
		height: 500px
		.bx-wrapper .bx-pager
			padding-left: 25px

	.homeb1_block
		padding-left: 15px
		padding-right: 15px

	.homeb1_bg_img
		background-position: center

	.homeb1_imgtext
		max-width: 250px

	.homeb1_text
		h2
			line-height: 44.93px
			font-size: 32px

	.homeb1_text3
		line-height: 26.47px
		font-size: 20px