.homeb3_content
	display: flex
	flex-direction: row
	flex-wrap: wrap

.homeb3_box
	width: 50%
	position: relative
	&:before
		content: ""
		width: 100%
		height: 100%
		background: $negro
		opacity: .4
		position: absolute
		top: 0
		left: 0
		z-index: 2
	@media screen and (min-width: 1025px)
		overflow: hidden
		&:hover
			.homeb3_img
				transform: scale(1.1)
			.homeb3_wrap
				border: 1px solid $c-2

.homeb3_img
	width: 100%
	height: 100%
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	position: absolute
	top: 0
	left: 0
	z-index: 1
	@media screen and (min-width: 1025px)
		transform: scale(1)
		transition: all 1.5s ease-in-out

.homeb3_info
	width: 100%
	height: 325px
	position: relative
	z-index: 3
	box-sizing: border-box
	padding: 3% 4%

.homeb3_wrap
	display: flex
	flex-direction: column
	justify-content: center
	width: 100%
	height: 100%
	border: 1px solid $c-2
	box-sizing: border-box
	padding: 20px
	@media screen and (min-width: 1025px)
		border: 1px solid transparent
		transition: all .25s ease-in-out

.homeb3_title
	max-width: 320px
	width: 100%
	margin: 0 auto 0 auto
	h2
		line-height: 36px
		letter-spacing: .45px
		color: $blanco
		font-family: $t-1
		font-weight: normal
		font-size: 30px
		text-align: center
		margin-bottom: 0

// responsive
@media screen and (max-width: 1024px)
	.homeb3_title
		h2
			line-height: 34px
			font-size: 28px

@media screen and (max-width: 767px)
	.homeb3_box
		width: 100%

	.homeb3_wrap
		padding: 15px

	.homeb3_title
		h2
			line-height: 28px
			font-size: 22px