.b7__ctn
	width: 100%
	height: 1112px
	background: url('../img/b7-bg.jpg') center
	background-size: cover
.b7__wrapper
	width: 100%
	max-width: 1240px
	margin: 0 auto
	padding: 75px 20px 0 20px
	box-sizing: border-box
.b7__wrapper__top
	display: flex
	justify-content: space-between
	flex-wrap: wrap
.b7__item
	&.banner
		width: 36%
	&.one
		width: 24.5%
		margin: 5px 0 0 0
		.b7__item__img
			height: 391px !important
	&.two
		width: 34%
		margin: 35px 0 0 0
		.b7__item__img
			height: 238px !important
	&.three
		width: 56.8%
		.b7__item__img
			height: 320px !important
	&.four
		width: 38.8%
		margin: 30px 0 0 0
		.b7__item__img
			height: 333px !important
.b7__item__img
	width: 100%
	background-position: center
	background-repeat: no-repeat
	background-size: cover
.b7__item__info
	margin: 16px 0 0 0
	h3
		font-weight: normal
		margin: 0
		font-family: $t-1
		font-size: 16px
		color: $c-1
		text-transform: uppercase
	p
		margin: 0
		font-family: $t-0
		font-size: 16px
		color: $c-1
.b7__item__parraf
	margin: 0 0 40px 0
	p 
		margin: 0
		font-family: $t-0
		font-size: 16px
		color: $c-0
		line-height: 1.4
.b7__item__banner
	background: $blanco
	padding: 27px
	box-sizing: border-box
	width: 100%
	max-width: 350px
	margin: 40px 0 0 0
	box-shadow: 8px 8px 15px rgba(000, 000, 000, .1)
.b7__item__banner__wrapper
	border: 2px solid $c-2
.b7__item__banner__wrapper__prin
	width: 100%
	max-width: 200px
	padding: 40px 15px
	margin: 0 auto
	box-sizing: border-box
.b7__item__banner__wrapper__title
	color: $c-1
	font-size: 40px
.b7__item__banner__wrapper__parrafs
	margin: 40px 0 0 0
.b7__item__banner__wrapper__parraf
	margin: 0 0 20px 0
	h3
		font-weight: normal
		margin: 0
		font-family: $t-1
		color: $c-1
		font-size: 27px
	h4
		font-weight: normal
		margin: 0
		font-family: $t-0
		color: $c-1
		font-size: 20px
	&:last-child
		margin: 0
.b7__wrapper__bottom
	display: flex
	justify-content: space-between
	margin: 40px auto 0 auto
	flex-wrap: wrap
	width: 100%
	max-width: 960px
.b7__wrapper__slider
	display: none
@media screen and (max-width: 1024px)
	.b7__wrapper
		padding-top: 50px
@media screen and (max-width: 960px)
	.b7__wrapper__slider
		display: block
	.b7__wrapper__bottom
		display: none
	.b7__wrapper__top
		.b7__item
			width: 100%
			&.one, &.two
				display: none
	.b7__item__banner
		max-width: 100%
	.b7__item__banner__wrapper__prin
		max-width: 100%
		padding: 0
	.b7__item__banner__wrapper
		border: 0
	.b7__item__banner__wrapper__title
		text-align: center
	.b7__item__banner__wrapper__parrafs
		display: flex
		flex-wrap: wrap
	.b7__item__banner__wrapper__parraf
		width: 50%
		text-align: center
		padding: 0 30px
		box-sizing: border-box
		&:first-child
			border-right: 1px solid $c-1

	.b7__ctn
		height: auto
		padding-bottom: 30px
	.b7__item
		width: 100%
		position: relative
		&.one, &.two, &.three, &.four
			margin: 0
			.b7__item__img
				height: 300px !important
		&.two
			.b7__item__parraf
				display: none
	.b7__item__parraf
		margin: 30px 0
	.b7__item__info
		position: absolute
		width: auto
		bottom: 0
		right: 0
		background: $c-1
		padding: 15px
		box-sizing: border-box
		h3, p
			color: $blanco
@media screen and (max-width: 767px)
	.b7__wrapper
		padding: 30px 15px 0 15px
	.b7__item__banner
		margin-top: 30px
		padding: 27px 0
	.b7__item__banner__wrapper__parrafs
		margin-top: 30px
	.b7__item__banner__wrapper__parraf
		padding: 0 15px
		h3
			font-size: 20px
		h4
			font-size: 15px
