.home_b2
	background-color: $blanco
	background-position: center
	background-size: cover
	background-repeat: repeat
.home_b2_content
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: center
	align-items: center
	max-width: 1200px
	width: 100%
	height: auto
	margin: 0 auto
	padding: 84px 20px
	box-sizing: border-box
.home_b2_box1
	width: 60%
	height: 403px
.home_b2_box1_img
	width: 100%
	height: 100%
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	margin: 0
.home_b2_box2
	width: 40%
	height: auto
	padding: 66px 26px 40px 7%
	box-sizing: border-box

.home_b2_box2_h2
	padding-bottom: 20px
	h2
		font-family: $t-1
		font-size: 30px
		color: $c-1
		strong
			display: block
			font-weigth: normal
.home_b2_box2_p
	font-family: $t-0
	font-size: 16px
	color: $c-0
	line-height: 25px

@media screen and (max-width: 1024px)
	.home_b2_box1
		width: 45%
		height: 265px
	.home_b2_box1_img
		background-position: top
	.home_b2_box2
		width: 55%
		padding-top: initial
	.home_b2_content
		align-items: flex-start
	.home_b2_content
		padding: 41px 20px 20px 20px
@media screen and (max-width: 669px)
	.home_b2_content
		flex-direction: column
	.home_b2_box1
		width: 80%
		margin: 0 auto
		height: 340px
	.home_b2_box1_img
		background-size: 100% 90%
	.home_b2_box2
		width: 100%
@media screen and (max-width: 575px)
	.home_b2_box1
		height: 270px
	.home_b2_box1_img
		background-size: 100% 80%
@media screen and (max-width: 450px)
	.home_b2_box1
		width: 90%
		height: 247px
	.home_b2_box2
		padding: initial