extends ./_common/base.pug
//- btn
block content
	a(href="", class="g_button") ÁREAS COMUNES
	
	br

	a(href="", class="g_button azul") INTERIORES

	br

	a(href="", class="g_button maxw174") ÁREAS COMUNES
	
	br

	a(href="", class="g_button azul maxw174") INTERIORES

	br

	a(href="", class="g_button maxw128") ENVIAR