.g_button
	display: inline-block
	height: 45px
	line-height: 45px
	background: $c-2
	color: $blanco
	font-family: $t-0
	font-size: 14px
	border: none
	border-radius: 25px
	padding: 0 30px
	@media screen and (min-width: 1025px)
		transform: perspective(1px) translateZ(0)
		transition: transform .3s
		&:hover
			transform: translateX(8px)

	&.azul
		background: rgba(0,91,128,.1)
		color: $c-1
	&.maxw174
		max-width: 174px
		width: 100%
		text-align: center
		box-sizing: border-box
		padding: 0
		margin: auto
	&.maxw128
		max-width: 128px
		width: 100%
		text-align: center
		box-sizing: border-box
		padding: 0
		margin: auto