.title__general
	h2 
		font-weight: normal
		margin: 0
		font-size: 30px
		color: $c-1
		font-family: $t-1
		text-transform: uppercase
		line-height: 1.2
@media screen and (max-width: 960px)
	.title__general
		h2
			font-size: 25px 
@media screen and (max-width: 767px)
	.title__general
		h2
			font-size: 22px 
